main {
    grid-area: main;
}

footer {
    grid-area: footer;
}

.wrapper {
    display: grid;
    height: 100vh;
    grid-template-columns: auto;
    grid-template-rows: auto 125px;

    grid-template-areas:
                    "main"
                    "footer";
}